<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
    <script type="text/javascript" src="../../static/admin/lib/html5shiv.js"></script>
    <script type="text/javascript" src="../../static/admin/lib/respond.min.js"></script>

    <![endif]-->
<link rel="stylesheet" type="text/css" href="../../static/admin/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="../../static/admin/h-ui.admin/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="../../static/admin/lib/Hui-iconfont/1.0.8/iconfont.css" />
<link rel="stylesheet" type="text/css" href="../../static/admin/h-ui.admin/css/style.css" />
<!--[if IE 6]>
    <script type="text/javascript" src="../../static/admin/lib/DD_belatedPNG_0.0.8a-min.js"></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
<title>添加产品分类</title>
</head>
<body>
<div class="page-container">
	<div class="row cl">
			<div class="col-9 col-offset-2">
				<button type="button" class="btn btn-primary radius" onclick="getCate(1)" value="1">添加一级分类</button>
				<button type="button" class="btn btn-primary radius" onclick="getCate(2)" value="2">添加二级分类</button>
				<button type="button" class="btn btn-primary radius" onclick="getCate(3)" value="3">添加三级分类</button>
			</div>
		</div>
	<form action="" method="post" class="form form-horizontal" id="form-user-add">

		<!--一级分类-->
		<div class="row cl" id="c1" hidden>
			<label class="form-label col-xs-4 col-sm-2">
				<span class="c-red">*</span>
				添加一级分类：</label>
			<div class="formControls col-xs-6 col-sm-6">
				<input type="text" class="input-text" value="" placeholder="请添加一级分类" id="cname1" name="cname1">
			</div>
			<div class="formControls col-xs-6 col-sm-6">
			</div>
		</div>
		<!--二级分类-->
		<div id="c2" hidden>
			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-2">
					<span class="c-red">*</span>
					选择上级分类：</label>
				<div class="formControls col-xs-6 col-sm-6">
					<select name="cate1" id="" class="input-text">
						{% for category in category_data1 %}
						<option value="{{ category.id }}">{{ category.cname }}</option>
						{% end %}
					</select>
					<!--<input type="text" class="input-text" value="" placeholder="请添加三级分类" id="user-name" name="product-category-name">-->
				</div>


			</div>
			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-2">
					<span class="c-red">*</span>
					添加二级分类：</label>
				<div class="formControls col-xs-6 col-sm-6">
					<input type="text" class="input-text" value="" placeholder="请添加二级分类" id="cname2" name="cname2">
				</div>
			</div>
		</div>
		<!--三级分类-->
		<div id="c3" hidden>
			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-2">
					<span class="c-red">*</span>
					选择上级分类：</label>
				<div class="formControls col-xs-6 col-sm-6">
					<select name="cate2" id="cate2" class="input-text">
						{% for category2 in category_data2 %}
						<option value="{{ category2.id }}">{{ category2.cname }}</option>
						{% end %}
					</select>
					<!--<input type="text" class="input-text" value="" placeholder="请添加三级分类" id="user-name" name="product-category-name">-->
				</div>


			</div>
			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-2">
					<span class="c-red">*</span>
					添加三级分类：</label>
				<div class="formControls col-xs-6 col-sm-6">
					<input type="text" class="input-text" value="" placeholder="请添加三级分类" id="cname3" name="cname3">
				</div>
			</div>
		</div>
		<!--<div class="row cl">-->
			<!--<label class="form-label col-xs-4 col-sm-2">备注：</label>-->
			<!--<div class="formControls col-xs-6 col-sm-6">-->
				<!--<textarea name="" cols="" rows="" class="textarea"  placeholder="说点什么...最少输入10个字符" onKeyUp="$.Huitextarealength(this,100)"></textarea>-->
				<!--<p class="textarea-numberbar"><em class="textarea-length">0</em>/100</p>-->
			<!--</div>-->
		<!--</div>-->
		<div class="row cl">
			<div class="col-9 col-offset-2">
				<input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
				<a href="/admin/product_category"><input class="btn btn-primary radius" type="button" value="&nbsp;&nbsp;返回&nbsp;&nbsp;"></a>
			</div>
		</div>
	</form>
</div>
<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="../../static/admin/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="../../static/admin/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="../../static/admin/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="../../static/admin/h-ui.admin/js/H-ui.admin.js"></script> <!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="../../static/admin/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="../../static/admin/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="../../static/admin/lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript">
	function getCate(num) {
		$('#c1').hide();
		$('#c2').hide();
		$('#c3').hide();
		$('#c'+num).show()
	}
</script>
</body>
</html>